---
import SocialBar from '@/components/social-bar'
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
---

<Layout title="Welcome to Astro.">
  <main class="size-full ">
    <div class=" flex size-full flex-col items-center justify-center gap-5">
      <div class="size-32 overflow-hidden rounded-full bg-white p-1 shadow-md">
        <Image loading="eager" class="rounded-full" height="256" width="256" src="https://cdn.sep.cc/avatar/2bd86b0b9ceddd9f2a3cf01ca3bf61d5?s=256" alt="avatar" />
      </div>
      <SocialBar client:load />
    </div>
  </main>
</Layout>
